# Numerous always-ignore extensions
*.bak
*.diff
*.err
*.exe
*.log
*.orig
*.rej
*.sass-cache
*.swo
*.swp
*.vi
*~

# OS or Editor folders
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.project
.settings
.tmproj
Thumbs.db

# Folders to ignore
.CVS
.git
.hg
.idea
.svn
.vscode
.env
bower_components
build
dist/assets/upload
dist2/assets/upload
dist1/assets/upload
06-webinar-auth
05-webinar-socket
08-webinar-deploy
node_week_4-master
04_mongo
03_koa

# Node.JS
node_modules
npm-debug.log
package-lock.json
yarn.lock
